<div class="container py-5">
    <div class="row">
        <div class="col-12">
            <div class="heading heading-comment">
                <h2>LIÊN HỆ</h2>
            </div>
        </div>
        <div class="col-md-12">
        </div>
        <div class="col-md-8">
            <!-- block  contact-->
            <div class="block-contact-us">
                <form action="/contact" method="post" class="form-validate" novalidate="novalidate">
                    <div class="block-content row">
                        <div class="col-sm-5">
                            <div class="form-group border-0 py-0">
                                <input type="text" placeholder="Tên của bạn *" name="name" class="form-control"
                                    id="name" required="required" aria-required="true">
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="form-group border-0 py-0">
                                <input type="text" placeholder="E-Mail của bạn *" name="email" class="form-control"
                                    id="email" required="required" aria-required="true">
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="form-group border-0 py-0">
                                <input type="text" placeholder="Số điện thoại" name="phone" id="phone"
                                    class="form-control">
                            </div>
                        </div>
                        <div class="col-sm-7">
                            <div class="form-group border-0 py-0">
                                <textarea placeholder="Nội dung *" name="message" rows="4" class="form-control"
                                    id="message" required="required" aria-required="true"></textarea>
                                <div class="help-block with-errors"></div>
                            </div>

                            <div class="text-left">
                                <button class="btn btn-success" type="submit">Gửi cho chúng tôi</button>
                            </div>
                        </div>
                    </div><!-- block  contact-->
                </form>
            </div>
        </div>

        <div class="col-md-4">
            <!-- block  contact-->
            <div class="block-address">
                <h5 class="mt-3 text-uppercase">Hải sản cô năm sài gòn</h5>
                <p><i class="fa fa-map-marker"></i>&nbsp;158/46A Phạm Văn Chiêu, Phường 9, Gò Vấp, Thành phố Hồ Chí Minh
                </p>
                <p><i class="fa fa-phone"></i>&nbsp;0931 744 468</p>
                <p><i class="fa fa-envelope"></i> haisanco5saigon@gmail.com</p>
                <p><span> </span></p>
            </div><!-- block  contact-->
        </div>
    </div>


    <div class="row">
        <div class="col-12">
            <div class="contact-map">
                <div
                    style="max-width:100%;list-style:none; transition: none;overflow:hidden;width:1600px;height:450px;">
                    <div id="canvasfor-googlemap" style="height:100%; width:100%;max-width:100%;"><iframe
                            style="height:100%;width:100%;border:0;" frameborder="0"
                            src="https://www.google.com/maps/embed/v1/place?q=158/46A+Phạm+Văn+Chiêu,+Phường+9,+Gò+Vấp,+Thành+phố+Hồ+Chí+Minh&key=AIzaSyBFw0Qbyq9zTFTd-tUY6dZWTgaQzuU17R8"></iframe>
                    </div><a class="googlemap-html" rel="nofollow" href="https://www.embed-map.com"
                        id="make-mapdata">https://www.embed-map.com</a>
                    <style>
                        #canvasfor-googlemap img {
                            max-width: none !important;
                            background: none !important;
                            font-size: inherit;
                            font-weight: inherit;
                        }
                    </style>
                </div>
            </div>
        </div>
    </div>
</div>