<div style="min-height: 100vh;" class="container">
    <div class="two alt-two mb-5">
                    <h1 style="color: #82DBD8">Khuyến mãi
                        <span>Hải sản Cô Năm Sài gòn</span>
                    <div class="icon"></div>
                    </h1>
                </div>

    <div class="text-center w-100 mb-5">
        <h4>Đang cập nhật</h4>
    </div>
</div>