<div class="container">
        <div class="two alt-two">
                <h1>Menu đặt tiệc
                        <span>Hải sản Cô Năm Sài gòn</span>
                </h1>
        </div>


        <div id="list-menu" class="row mt-5">
                {{!-- <div class="col-md-3 col-sm-4 col-xs-6 seafood-box-2 h-100 mb-5">
                        <img width="100%" onclick="onClick(this)" src="/img/menu/menu1.png" alt="">
                </div>
                <div class="col-md-3 col-sm-4 col-xs-6 seafood-box-2 h-100 mb-5">
                        <img width="100%" onclick="onClick(this)" src="/img/menu/menu2.png" alt="">
                </div>
                <div class="col-md-3 col-sm-4 col-xs-6 seafood-box-2 h-100 mb-5">
                        <img width="100%" onclick="onClick(this)" src="/img/menu/menu3.png" alt="">
                </div>
                <div class="col-md-3 col-sm-4 col-xs-6 seafood-box-2 h-100 mb-5">
                        <img width="100%" onclick="onClick(this)" src="/img/menu/menu4.png" alt="">
                </div>
                <div class="col-md-3 col-sm-4 col-xs-6 seafood-box-2 h-100 mb-5">
                        <img width="100%" onclick="onClick(this)" src="/img/menu/menu5.png" alt="">
                </div>
                <div class="col-md-3 col-sm-4 col-xs-6 seafood-box-2 h-100 mb-5">
                        <img width="100%" onclick="onClick(this)" src="/img/menu/menu6.png" alt="">
                </div>
                <div class="col-md-3 col-sm-4 col-xs-6 seafood-box-2 h-100 mb-5">
                        <img width="100%" onclick="onClick(this)" src="/img/menu/menu7.png" alt="">
                </div>
                <div class="col-md-3 col-sm-4 col-xs-6 seafood-box-2 max-height">
                        <img width="100%" onclick="onClick(this)" src="/img/menu/menu8.png" alt="">
                </div> --}}

        </div>

        <div class="container w-50">
                <div id="modal01" class="modal-2" onclick="this.style.display='none'">
                        <span class="close">&times;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                        <div class="modal-content-2">
                                <img id="img01" style="max-width:100%">
                        </div>
                </div>
        </div>
</div>

<script>
        const listMenu = document.getElementById('list-menu');
        renderMenu();
        function renderMenu() {
                $.ajax({
                        url: '/menu/all',
                        type: 'GET',
                        contentType: 'json',
                        success: function (data, textStatus, xhr) {
                                if (data.menuList) {
                                        const list = data.menuList;
                                        listMenu.innerHTML = ``;
                                        list.forEach(item => {
                                                listMenu.innerHTML += `
                                                <div class="col-md-3 col-sm-4 col-xs-6 seafood-box-2 h-100 mb-5">
                                                        <img width="100%" onclick="onClick(this)" src="${item.image}" alt="">
                                                </div>`;
                                        })
                                }
                        }
                })
        }
</script>