<div class="container">
    <div class="two alt-two">
        <h1>Hải sản tươi sống
            <span>Hải sản Cô Năm Sài gòn</span>
        </h1>
    </div>
    <div id="seafood-collection" class="row mt-5">
        <div class="col-md-3 col-sm-4 col-xs-6 seafood-box-2">
            <div class="seafood-img-box">
                <img src="/img/seafood/seafood1.png" alt="">
            </div>

            <div class="seafood-content-box">
                <a href="" class="seafood-title title-menu">Tôm sú biển</a>

                <div class="seafood-price">
                    <span style="text-decoration: line-through">Giá bán: 2.490.000 đ</span><br> Giá khuyến mãi:
                    1.990.000 đ
                </div>

                <div class="seafood-buy smooth">
                    <a href="">Thưởng thức ngay</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6 seafood-box-2">
            <div class="seafood-img-box">
                <img src="/img/seafood/seafood5.png" alt="">
            </div>

            <div class="seafood-content-box">
                <a href="" class="seafood-title title-menu">Cá chim trắng</a>

                <div class="seafood-price">
                    <span style="text-decoration: line-through;">Giá bán: 2.490.000 đ</span><br> Giá khuyến mãi:
                    1.990.000 đ
                </div>

                <div class="seafood-buy smooth">
                    <a href="">Thưởng thức ngay</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6 seafood-box-2">
            <div class="seafood-img-box">
                <img src="/img/seafood/seafood3.png" alt="">
            </div>

            <div class="seafood-content-box">
                <a href="" class="seafood-title title-menu">Bào ngư úc</a>

                <div class="seafood-price">
                    <span style="text-decoration: line-through;">Giá bán: 2.490.000 đ</span><br> Giá khuyến mãi:
                    1.990.000 đ
                </div>

                <div class="seafood-buy smooth">
                    <a href="">Thưởng thức ngay</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6 seafood-box-2">
            <div class="seafood-img-box">
                <img src="/img/seafood/seafood4.png" alt="">
            </div>

            <div class="seafood-content-box">
                <a href="" class="seafood-title title-menu">Cua gạch</a>

                <div class="seafood-price">
                    <span style="text-decoration: line-through;">Giá bán: 2.490.000 đ</span><br> Giá khuyến mãi:
                    1.990.000 đ
                </div>

                <div class="seafood-buy smooth">
                    <a href="">Thưởng thức ngay</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6 seafood-box-2">
            <div class="seafood-img-box">
                <img src="/img/seafood/seafood1.png" alt="">
            </div>

            <div class="seafood-content-box">
                <a href="" class="seafood-title title-menu">Sò Diệp nướng mở hành</a>

                <div class="seafood-price">
                    <span style="text-decoration: line-through;">Giá bán: 2.490.000 đ</span><br> Giá khuyến mãi:
                    1.990.000 đ
                </div>

                <div class="seafood-buy smooth">
                    <a href="">Thưởng thức ngay</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6 seafood-box-2">
            <div class="seafood-img-box">
                <img src="/img/seafood/seafood5.png" alt="">
            </div>

            <div class="seafood-content-box">
                <a href="" class="seafood-title title-menu">Sò Diệp nướng mở hành</a>

                <div class="seafood-price">
                    <span style="text-decoration: line-through;">Giá bán: 2.490.000 đ</span><br> Giá khuyến mãi:
                    1.990.000 đ
                </div>

                <div class="seafood-buy smooth">
                    <a href="">Thưởng thức ngay</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6 seafood-box-2">
            <div class="seafood-img-box">
                <img src="/img/seafood/seafood3.png" alt="">
            </div>

            <div class="seafood-content-box">
                <a href="" class="seafood-title title-menu">Sò Diệp nướng mở hành</a>

                <div class="seafood-price">
                    <span style="text-decoration: line-through;">Giá bán: 2.490.000 đ</span><br> Giá khuyến mãi:
                    1.990.000 đ
                </div>

                <div class="seafood-buy smooth">
                    <a href="">Thưởng thức ngay</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6 seafood-box-2">
            <div class="seafood-img-box">
                <img src="/img/seafood/seafood4.png" alt="">
            </div>

            <div class="seafood-content-box">
                <a href="" class="seafood-title title-menu">Sò Diệp nướng mở hành</a>

                <div class="seafood-price">
                    <span style="text-decoration: line-through;">Giá bán: 2.490.000 đ</span><br> Giá khuyến mãi:
                    1.990.000 đ
                </div>

                <div class="seafood-buy smooth">
                    <a href="">Thưởng thức ngay</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    renderSeaFoodCollection()
    const bodySeafood = document.getElementById('seafood-collection');
    function renderSeaFoodCollection() {
        $.ajax({
            url: `/seafood/all`,
            type: 'GET',
            dataType: 'json',
            success: function (data, textStatus, xhr) {
                if (data.seaFoodList) {
                    bodySeafood.innerHTML = ``;
                    const list = data.seaFoodList
                    list.forEach(item => {
                        let priceHtml = `<span style="text-decoration: line-through;">Giá bán: ${item.price[0].originPrice.toLocaleString('vi', { style: 'currency', currency: 'VND' })}</span><br> Giá khuyến mãi:
                                        ${item.price[0].discountPrice.toLocaleString('vi', { style: 'currency', currency: 'VND' })}`;
                        if (Number(item.price[0].discountPrice) == 0)
                            priceHtml = `<span style="text-decoration: line-through;"> </span><br> Giá bán:
                                        Theo thời giá`;

                        bodySeafood.innerHTML += `
                            <div class="col-md-3 col-sm-4 col-xs-6 seafood-box-2">
                                <div class="seafood-img-box">
                                    <img src="${item.avatar}" alt="">
                                </div>

                                <div class="seafood-content-box">
                                    <a href="/seafood/${item.slug}" class="seafood-title title-menu">${item.name}</a>

                                    <div class="seafood-price">
                                        ${priceHtml}
                                    </div>

                                    <div class="seafood-buy smooth">
                                        <a href="/seafood/${item.slug}">Thưởng thức ngay</a>
                                    </div>
                                </div>
                            </div>`;
                    })

                }
            },
            error: function (xhr, textStatus, errorThrown) {
                console.log('Error in Operation');
            }
        });
    }
</script>