<div class="container">
    <div class="two alt-two">
        <h1>{{pageName}}
            <span>Hải sản Cô Năm Sài gòn</span>
        </h1>
    </div>

    <div class="row mt-5">
        <div class="col-md-6 col-sm-12 px-3">
            <div class="news-img-box">
                <img width="100%" src="https://image.thanhnien.vn/470x313/Uploaded/2022/pwivoviu/2022_08_26/roasted-seaweed-snack-6197.jpg" alt="">
            </div>

            <div class="news-content-box">
                <a href="">5 lý do bạn nên đưa rong biển vào chế độ ăn hằng ngày</a>

                <div class="meta">
                    10:20 09/09/2022 &nbsp - &nbsp <i class="fas fa-comments"></i> &nbsp 0
                </div>

                <div class="summary">
                    Bạn có biết tại sao các chuyên gia sức khỏe trên khắp thế giới lại quan tâm đến rong biển (seaweed) không?
                </div>
            </div>
        </div>
        
        <div class="col-md-6 col-sm-12 px-3">
            <div class="story-primary">
                <div style="width: 35%; float: left" class="d-inline-block">
                    <img width="90%" src="https://image.thanhnien.vn/w2048/Uploaded/2022/bfznsfyr-bn/2022_08_03/oc-nhang-9474.jpg" alt="">
                </div>
                
                <div style="width: 65%; float: right" class="d-inline-block">
                    <a class="mt-2" style="display: block; margin-bottom: 10px" href="">Lễ 2.9 đến nơi này tha hồ ăn hải sản tươi ngon, giá rẻ</a>
                    <div class="meta">
                        10:20 09/09/2022 &nbsp - &nbsp <i class="fas fa-comments"></i> &nbsp 0
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-12">
            <div class="story-primary second">
                <div style="width: 35%; float: left" class="d-inline-block">
                    <img width="90%" src="https://image.thanhnien.vn/w2048/Uploaded/2022/bfznsfyr-bn/2022_08_03/oc-nhang-9474.jpg" alt="">
                </div>
                
                <div style="width: 65%; float: right" class="d-inline-block">
                    <a class="mt-3" style="display: block; margin-bottom: 10px" href="">Lễ 2.9 đến nơi này tha hồ ăn hải sản tươi ngon, giá rẻ</a>
                    <div class="meta">
                        10:20 09/09/2022 &nbsp - &nbsp <i class="fas fa-comments"></i> &nbsp 0
                    </div>

                    <div class="summary mt-3">
                        Bạn có biết tại sao các chuyên gia sức khỏe trên khắp thế giới lại quan tâm đến rong biển (seaweed) không?
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>