<!-- Footer -->
<footer style="background-color: #59CE8F!important;" class="bg-dark text-left text-white">
  {{#if hideFooter}}
  <div class="mapouter">
    <div class="gmap_canvas"><iframe class="gmap_iframe" width="100%" frameborder="0" scrolling="no" marginheight="0"
        marginwidth="0"
        src="https://maps.google.com/maps?width=1920&amp;height=450&amp;hl=en&amp;q=158/46A Phạm Văn Chiêu, Phường 9, Gò Vấp, Thành phố Hồ Chí Minh&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe><a
        href="https://embedmapgenerator.com/">embed google maps in
        website</a></div>
    <style>
      .mapouter {
        position: relative;
        text-align: right;
        width: 100%;
        height:
          450px;
      }

      .gmap_canvas {
        overflow: hidden;
        background: none !important;
        width: 100%;
        height: 450px;
      }

      .gmap_iframe {
        height: 450px !important;
      }
    </style>
  </div><!-- Grid container -->
  {{else}}
  {{!-- <div class="gmap_canvas"><iframe id="googleMap" class="gmap_iframe" width="100%" frameborder="0" scrolling="no"
      marginheight="0" marginwidth="0"
      src="https://maps.google.com/maps?width=1920&amp;height=450&amp;hl=en&amp;q=158/46A Phạm Văn Chiêu, Phường 9, Gò Vấp, Thành phố Hồ Chí Minh&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe><a
      href="https://embedmapgenerator.com/">embed google maps in
      website</a></div> --}}
  {{/if}}
  <div class="container p-4">
    <div class="row">
      <div style="position: relative;" class="col-md-8">
        <section class="">
          <!--Grid row-->
          <div class="row">
            <!--Grid column-->
            <div style="position: relative;" class="col-lg-6 col-md-6 mb-4 mb-md-0">
              <h5 class="text-uppercase">Giới thiệu</h5>
              <p class="mb-1"><i class="fa fa-home"></i>
                158/46A Phạm Văn Chiêu, Phường 9, Gò Vấp, Thành phố Hồ Chí Minh</p>
              <p class="mb-1"><i class="fa fa-envelope"></i>
                haisanco5saigon@gmail.com
              </p>
              <p class="mb-3"><i class="fa fa-phone"></i> 0931 744 468 </p>

              <div class="form-tu-van">
                <form action="">
                  <!--Grid row-->
                  <div style="height: 50px !important;" class="">
                    <!--Grid column-->

                    <!--Grid column-->

                    <!--Grid column-->
                    <div style="height: 50px !important;" class="col-12">
                      <!-- Email input -->
                      <div class="form-outline form-white mb-4">
                        <input placeholder="Nhập email" type="email" id="form5Example21" class="form-control" />
                        {{! <label class="form-label" for="form5Example21">Địa chỉ
                          email</label> }}
                      </div>
                    </div>

                    <!--Grid column-->

                    <!--Grid column-->
                    <div style="height: 50px !important;" class="col-auto">
                      <!-- Submit button -->
                      <button style="background-color: #4FD3C4; border: 1px solid #4FD3C4;" type="submit"
                        class="btn btn-outline-light mb-1">
                        Đăng ký nhận tin
                      </button>
                    </div>
                    <!--Grid column-->
                  </div>
                  <!--Grid row-->
                </form>
              </div>

            </div>
            <div style="position: absolute; left: -20px; bottom:0; height: 100px !important;" class="col-auto footer-img">
              <!-- Submit button -->
              {{!-- <img class="w-100" src="/img/bct.png" alt="" /> --}}
            </div>
            <!--Grid column-->

            <!--Grid column-->
            {{! <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
              <h5 class="text-uppercase">Trợ giúp</h5>

              <ul class="list-unstyled mb-0">
                <li>
                  <a href="#!" class="text-white">Link 1</a>
                </li>
                <li>
                  <a href="#!" class="text-white"></a>
                </li>
                <li>
                  <a href="#!" class="text-white">Tài khoản giao dịch</a>
                </li>
              </ul>
            </div> }}
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
              <h5 class="text-uppercase">Menu</h5>

              <ul class="list-unstyled mb-0">
                <li class="mb-1 d-block">
                  <a href="/menu-party" class="text-white">Menu đặt tiệc</a>
                </li>
                <li class="mb-1 d-block">
                  <a href="/collections/seafood" class="text-white">Các món hải sản</a>
                </li>
                <li class="mb-1 d-block">
                  <a href="/menu-food" class="text-white">Món ăn</a>
                </li>
                <li class="mb-1 d-block">
                  <a href="/menu-drinks" class="text-white">Đồ uống</a>
                </li>
              </ul>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
              {{!-- <h5 class="text-uppercase">Theo dõi trên fanpage</h5>

              <ul class="list-unstyled mb-0"> --}}
                {{! <li>
                  <a href="#!" class="text-white">Link 1</a>
                </li>
                <li>
                  <a href="#!" class="text-white">Link 2</a>
                </li>
                <li>
                  <a href="#!" class="text-white">Link 3</a>
                </li>
                <li>
                  <a href="#!" class="text-white">Link 4</a>
                </li> }}
                {{!--
              </ul> --}}
            </div>

            <div style="position: absolute; bottom: 2%; right: 0" class="connect-box w-50 text-center">
              {{!-- <h5>KẾT NỐI VỚI CHÚNG TÔI</h5> --}}
              <div class="form-outline form-white mb-2">
                <input placeholder="Tìm kiếm" type="email" id="form5Example21" class="form-control" />
                {{! <label class="form-label" for="form5Example21">Địa chỉ
                  email</label> }}
              </div>
              <span style="margin: 0 5px"
                onclick="location.href='https://www.youtube.com/channel/UCr8XTth3Y8QbnAMslgn5gXQ'"> <img style="width: 15%;
    border-radius: 10%;" src="/img/ship/grab.png" alt="" /></span>
              <span style="margin: 0 5px"
                onclick="location.href='https://www.youtube.com/channel/UCr8XTth3Y8QbnAMslgn5gXQ'"> <img style="width: 15%;
    border-radius: 10%;" src="/img/ship/shopee.png" alt="" /></span>
              <span style="margin: 0 5px"
                onclick="location.href='https://www.youtube.com/channel/UCr8XTth3Y8QbnAMslgn5gXQ'"> <img style="width: 15%;
    border-radius: 10%;" src="/img/ship/bae.png" alt="" /></span>
              <span style="margin: 0 5px"
                onclick="location.href='https://www.youtube.com/channel/UCr8XTth3Y8QbnAMslgn5gXQ'"> <img style="width: 15%;
    border-radius: 10%;" src="/img/ship/go.png" alt="" /></span>
              <span style="margin: 0 5px"
                onclick="location.href='https://www.youtube.com/channel/UCr8XTth3Y8QbnAMslgn5gXQ'"> <img style="width: 15%;
    border-radius: 10%;" src="/img/ship/lq.jpg" alt="" /></span>

              {{!-- <span style="margin: 0 10px" onclick="location.href='https://www.facebook.com/haisanco5saigon/'">
                <img src="/img/ship/shopee.png" alt="" /></span> --}}
              {{!-- <span style="margin: 0 10px; " onclick="location.href='https://zalo.me/0902315318'"> <img
                  src="/img/zalo.png" alt="" /></span> --}}
            </div>
            <!--Grid column-->
          </div>

          <!--Grid row-->
        </section>

        <section class="mt-2">

        </section>
      </div>

      <div class="col-md-4">

        <section class="text-center">
          <div class="fb-page" data-href="https://www.facebook.com/haisanco5saigon/" data-tabs="timeline" data-width=""
            data-height="350" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false"
            data-show-facepile="true">
            <blockquote cite="https://www.facebook.com/haisanco5saigon/" class="fb-xfbml-parse-ignore"><a
                href="https://www.facebook.com/haisanco5saigon/">Quán Ăn Hải Sản
                Cô Năm Sài Gòn</a></blockquote>
          </div>
        </section>

      </div>

    </div>

    <!-- Section: Links -->

    <!-- Section: Links -->
  </div>

  <!-- Copyright -->
</footer>
<!-- Footer -->