<style>
  .divider:after, .divider:before { content: ""; flex: 1; height: 1px; background: #eee; }
</style>
<div class='container'>
  {{! <h2 class="h-title">
        <span>Đăng nhập</span>
    </h2> }}
  {{! <div class="row justify-content-center">
        <div class="col-md-5">
            <form>
                <!-- Email input -->
                <div class="form-outline mb-4">
                    <input placeholder="Tên tài khoản" type="email" id="form2Example1" class="form-control" />

                </div>

                <!-- Password input -->
                <div class="form-outline mb-4">
                    <input placeholder="Mật khẩu" type="password" id="form2Example2" class="form-control" />

                </div>



                <!-- Submit button -->
                <button type="submit" class="btn btn-primary mb-4">Đăng nhập</button>

                <!-- Register buttons -->

            </form>
        </div>
    </div> }}
  <section class='vh-100'>
    <div class='h-100 my-5'>
      <div class='row d-flex align-items-center justify-content-center h-100'>
        <div class='col-md-8 col-lg-7 col-xl-6'>
          <img
            src='https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg'
            class='img-fluid'
            alt='Phone image'
          />
        </div>
        <div class='col-md-7 col-lg-5 col-xl-5 offset-xl-1'>
          <div class='card text-center' style='width: 300px;'>
            <div class='card-header h5 text-white bg-primary'>Quên mật khẩu</div>
            <div class='card-body px-5'>
              <p class='card-text py-2'>
                Nhập email để xác nhận đổi lại mật khẩu
              </p>
              <div class='form-outline'>
                <input type='email' id='typeEmail' class='form-control my-3' />
                <label class='form-label' for='typeEmail'>Email</label>
              </div>
              <a href='/users/new-password' class='btn btn-primary w-100'>Reset password</a>
              <div class='d-flex justify-content-between mt-4'>
                <a class='' href='/users/login'>Login</a>
                <a class='' href='/users/register'>Register</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>