<div class='container mt-3'>
  <div class='row-cols-sm-3'>
    <div class='card mb-3 m-auto'>
      <img class='card-img-top border-top' src='/img/image-qr-code.png' alt='QR code' />
      <div class='card-body'>
        <h4 class='card-title text-center'>Quét mã qr code</h4>
        <p class='card-text text-center'>Scan the QR code to visit Frontend Mentor and take your coding to the next
          level</p>
      </div>
    </div>
  </div>
</div>